body {
    padding: 32px;
}

.card-header {
    display: flex;
    justify-content: space-between;
}

#content {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    justify-content: center;

}

.card-img-top {
    width: auto;
    height: 210px;
    padding: 24px;
}

.card-img-top:hover {
    filter: drop-shadow(0 0 0.5rem);
    scale: 1.6;
}

.card {
    cursor: pointer;
    width: 12rem !important;
    /* border: solid 16px rgb(202 196 1); */
    border-radius: 24px;
    /* background-color: bisque; */
}

.card:hover {
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.8);
    animation: 250ms slidein ease-in-out;
    transform: scale(1.05);
}

.card-body {
    display: flex;
    justify-content: space-around;
}

/*****************DIALOG*************************/

.bg-dialog {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 99;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    padding-top: 32px;
    /* flex-direction: column; */
}

.dialog-card {
    display: flex;
    width: 100%;
    justify-content: center;
}

.big-card-container {
    aspect-ratio: 1 / 2;
    height: 90vh;
    display: flex;
    align-items: center;
    /* width: 30rem; */
    border-radius: 24px;
    flex-direction: column;
    background-color: white;
}

.d-none {
    display: none;
}

.big-picture-card {
    width: auto;
    height: 160px;
    margin-bottom: 42px;
    scale: 1.3;
    filter: drop-shadow(8px 8px 0.2rem);
}

.big-card-header {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

.big-card-type {
    display: flex;
    justify-content: space-between;
}

.arrow {
    width: 88px;
    cursor: pointer;
}

.right-dialog-arrow-container,
.left-dialog-arrow-container {
    display: flex;
    align-items: center;
}

.info-container {
    width: 100%;
    height: 100%;
    border-radius: 24px;
    background-color: white;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 6%;
    display: flex;
    justify-content: center;
    /* margin: 16px 0; */
}

li {
    display: inline;
}

a {
    text-decoration: none;
    color: #007BFF;
    font-weight: bold;
}


a:hover {
    text-decoration: underline;
}


#sections {
    width: 100%;
    height: 80%;
}

section div {
    height: 50%;
}


.about-table-pokemon {
    width: 88%;
    height: 69%;
    margin-left: 8px;
}

.w-100p{
    width: 60%;
}

.progress{
    height: 8px;
}








/* .grass{
    background-color: #78c850;
}

.fire{
    background-color: #f08030;
}

.water{
    background-color: #6890f0;
}

.bug{
    background-color: #a8b820;
}

.normal{
    background-color: #a8a878;
}

.poison{
    background-color: #a040a0;
}

.ground{
    background-color: #e0c068;
}

.electric{
    background-color: #f8d030;
}

.fairy{
    background-color: #f0b6bc;
}

.dark{
    background-color: #705848;
}

.dragon{
    background-color: #7038f8;
}

.fighting{
    background-color: #c03028;
}

.flying{
    background-color: #a890f0;
}

.ghost{
    background-color: #705898;
}

.ice{
    background-color: #98d8d8;
}

.psychic{
    background-color: #f85888;
}

.rock{
    background-color: #b8a038;
}

.steel{
    background-color: #b8b8d0;
}
 */