body {
    padding: 32px;
}

.card-header {
    display: flex;
    justify-content: space-between;
}

#content {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    justify-content: center;

}

.card-img-top {
    width: auto;
    max-height: 210px;
    padding: 24px;
}

.card {
    cursor: pointer;
    width: 16rem !important;
    /* background-color: bisque; */
}

.card-body{
    display: flex;
    justify-content: space-around;
}