body {
    padding: 32px;
    margin: 0px;
    background-color: #434343;
}

.card-header {
    display: flex;
    justify-content: space-between;
}

#content {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    justify-content: center;

}

.btn-container{
    position: sticky;
    bottom: 6px;
}

.header {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    height: fit-content;
    margin-bottom: 32px;
}

.card-img-top {
    width: auto;
    height: 210px;
    padding: 24px;
}

.card-img-top:hover {
    filter: drop-shadow(0 0 0.5rem);
    scale: 1.2;
    padding: 0px;
}

.card {
    cursor: pointer;
    width: 12rem !important;
    /* border: solid 16px rgb(202 196 1); */
    border-radius: 24px;
    /* background-color: bisque; */
}

.card:hover {
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.8);
    animation: 250ms slidein ease-in-out;
    transform: scale(1.05);
}

.card-body {
    display: flex;
    justify-content: space-around;
}

/*****************DIALOG*************************/

.bg-dialog {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 99;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    padding-top: 32px;
    /* flex-direction: column; */
}

.dialog-card {
    display: flex;
    width: 100%;
    justify-content: center;
}

.big-card-container {
    /* aspect-ratio: 1 / 2.5; */
    height: 40rem;
    display: flex;
    align-items: center;
    width: 18rem;
    border-radius: 24px;
    flex-direction: column;
    background-color: white;
}

.d-none {
    display: none;
}

.big-picture-card {
    width: auto;
    height: 160px;
    margin-bottom: 42px;
    scale: 1.3;
    filter: drop-shadow(8px 8px 0.2rem);
}

.big-card-type-name{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.big-card-top {
    width: 100%;
    text-align: center;
}

/* .big-card-header {
    display: flex;
    width: 100%;
    justify-content: space-around;
} */

.big-card-type {
    display: flex;
    gap: 72px;
}

.arrow {
    width: 88px;
    cursor: pointer;
}

.right-dialog-arrow-container,
.left-dialog-arrow-container {
    display: flex;
    align-items: center;
}

.info-container {
    width: 100%;
    height: 100%;
    border-radius: 24px;
    background-color: white;
}

ul {
    list-style-type: none;
    padding: 0;
    /* margin: 0; */
    display: flex;
    gap: 6%;
    display: flex;
    justify-content: center;
    /* margin: 16px 0; */
}

li {
    display: inline;
}

a {
    text-decoration: none;
    color: #007BFF;
    font-weight: bold;
}


a:hover {
    text-decoration: underline;
}


#sections {
    width: 100%;
    height: 80%;
}

section div {
    height: 50%;
}

.h-100 {
    height: 100%;
}

.h5 {
    padding: 24px 0 7px 0;
}

.table-baseStats {
    height: 40%;
}

.about-character {
    height: 80%;
}

.about-table-pokemon {
    width: 100%;
    height: 69%;
    margin-left: 8px;
}

.w-100p {
    width: 60%;
}

.progress {
    height: 8px;
}

.load-more-btn {
    margin-top: 32px;
}

.w-90 {
    width: 90px;
}

.comming-soon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 64%;
}

.bg-loadingSpinner {
    background-color: #000000de;
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    z-index: 99;
}

.loader {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    position: absolute;
    top: 50vh;
    right: 50vw;
    left: 50vw;
    z-index: 99;
    animation: rotate 1s linear infinite
}

.loader::before,
.loader::after {
    content: "";
    box-sizing: border-box;
    position: absolute;
    inset: 0px;
    border-radius: 50%;
    border: 5px solid #FFF;
    animation: prixClipFix 2s linear infinite;
}

.loader::after {
    border-color: #FF3D00;
    animation: prixClipFix 2s linear infinite, rotate 0.5s linear infinite reverse;
    inset: 6px;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg)
    }

    100% {
        transform: rotate(360deg)
    }
}

@keyframes prixClipFix {
    0% {
        clip-path: polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0)
    }

    25% {
        clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 0, 100% 0, 100% 0)
    }

    50% {
        clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 100% 100%, 100% 100%)
    }

    75% {
        clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 100%)
    }

    100% {
        clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 0)
    }
}

@media (min-width:501px) {
    .mini-arrow{
        display: none;
    }
}

@media (max-width:500px) {
    .arrow-under-img-container {
        display: flex;
        justify-content: space-around;
        margin-top: 24px;
    }

    .right-dialog-arrow-container,
    .left-dialog-arrow-container {
        display: none;
        cursor: initial;
        cursor: pointer;
    }

    .mini-arrow {
        height: 48px;
        cursor: pointer;
    }

    .arrow-under-img {
        height: 32px;
        cursor: pointer;
        border-radius: 48px;
        background-color: #434343;
        padding: 13px;
    }

    .dialogImage {
        border-radius: 8px;
        max-height: 70vh;
        max-width: 95vw;
    }
}